:root {
  color-scheme: light;
  font-family: var(--dc-font-sans);
}

:root[data-theme='dark'] {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
